@charset "UTF-8";
/*
$max-width: 1140px !default;
$max-width-tablet: 960px !default;
$max-width-mobile: 720px !default;
$max-width-small-mobile: 540px !default;
*/
/**
 * in_list — Checks if a value exists in a list
 *
 * @param  $value the needle
 * @param  $list  the haystack
 * @return boolen TRUE if $value is found in the $list, FALSE otherwise.
 */
/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */
/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;
  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;
  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;
  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;
  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;
  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;
  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;
  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9; }

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */
  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66, 140, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;
    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80, 200, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;
    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106, 100, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;
    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47, 223, 117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;
    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255, 213, 52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;
    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255, 73, 97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;
    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e; }
  /*
   * iOS Dark Theme
   * -------------------------------------------
   */
  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;
    --ion-item-background: #000000;
    --ion-card-background: #1c1c1d; }
  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250); }
  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */
  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
    --ion-border-color: #222222;
    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;
    --ion-item-background: #1e1e1e;
    --ion-toolbar-background: #1f1f1f;
    --ion-tab-bar-background: #1f1f1f;
    --ion-card-background: #1e1e1e; } }

/** Ionic CSS Variables override **/
:root {
  --ion-background-color: $ui-02; }

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  min-height: -webkit-fill-available; }

body {
  background-color: #FFFFFF; }

@media (display-mode: standalone) {
  body {
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent; } }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

::placeholder {
  text-overflow: ellipsis; }

[placeholder] {
  text-overflow: ellipsis; }

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: border-box; }

/**
 * Basic styles for links
 */
a {
  color: #CC0033;
  text-decoration: none; }
  a:hover, a:active, a:focus {
    text-decoration: underline; }
  a:active, a:focus {
    text-decoration: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

button:focus:not(:focus-visible) {
  outline: none; }

button .icon,
button .icon--filled {
  pointer-events: none; }

.body--preload *,
.no-transition {
  transition: none !important; }

.body--pdk #contenido {
  background: transparent;
  width: auto;
  max-width: none; }
  .body--pdk #contenido .zona_completa {
    margin: 0 auto; }

.body--pdk #body {
  background-color: transparent; }

.body--onPlayer {
  padding-bottom: 84px; }

.body--onPlayer--full {
  height: 100vh;
  overflow: hidden; }

@font-face {
  font-family: 'Inter';
  src: url("../../fonts/inter/Inter-VF.woff2") format("woff2 supports variations"), url("../../fonts/inter/Inter-VF.woff2") format("woff2-variations"), url("../../fonts/inter/Inter-VF.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/roboto/Roboto-Thin.eot");
  src: local("Roboto Thin"), local("Roboto-Thin"), url("../../fonts/roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Thin.woff") format("woff"), url("../../fonts/roboto/Roboto-Thin.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Thin.svg#Roboto-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/roboto/Roboto-Light.eot");
  src: local("Roboto Light"), local("Roboto-Light"), url("../../fonts/roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/Roboto-Light.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Light.woff") format("woff"), url("../../fonts/roboto/Roboto-Light.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/roboto/Roboto-Regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("../../fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../../fonts/roboto/Roboto-Regular.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/roboto/Roboto-Medium.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../../fonts/roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Medium.woff") format("woff"), url("../../fonts/roboto/Roboto-Medium.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Roboto';
  src: url("../../fonts/roboto/Roboto-Bold.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../../fonts/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("../../fonts/roboto/Roboto-Bold.woff") format("woff"), url("../../fonts/roboto/Roboto-Bold.ttf") format("truetype"), url("../../fonts/roboto/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

.icon {
  width: 24px;
  fill: none;
  stroke-miterlimit: 10;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round; }

.icon__glyph {
  fill: none;
  stroke: #000000;
  vector-effect: non-scaling-stroke; }

.icon--filled {
  width: 24px; }

.icon--filled__glyph {
  fill: #000000;
  fill-rule: evenodd;
  stroke: none !important; }

/**
 * Basic typography style for copy text
 */
body {
  color: #000000;
  font: normal 0.625em/1.231 "Roboto", "Helvetica", "Arial", sans-serif;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 1440px;
  /* 1 */
  margin-left: auto;
  /* 2 */
  margin-right: auto;
  /* 2 */
  padding-left: 20px;
  /* 3 */
  padding-right: 20px;
  /* 3 */
  width: 100%;
  /* 1 */ }

/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.first__section {
  height: 100vh;
  position: relative; }
  .first__section .hide {
    display: none; }
  .first__section .show__nav {
    width: calc(100vw - 16.24vh);
    padding: 5.22vh 8.12vh;
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 50; }
    .first__section .show__nav .letter_logo {
      font-size: 32px;
      line-height: 32px;
      color: #f43a3a;
      margin: 0;
      font-family: neueMontrealBook;
      transition: transform 1.2s ease, font-size 1.2s ease, line-height 1.2s ease; }
      .first__section .show__nav .letter_logo.wave {
        background-image: url(../assets/backgroundRed.png);
        -webkit-background-clip: text;
        color: transparent;
        text-shadow: 0px 0px rgba(255, 255, 255, 0.06);
        animation: loading-animation 1.2s linear alternate;
        opacity: 1; }
      .first__section .show__nav .letter_logo.move {
        transform: translate(calc(50vw - 5.22vh - 150px), calc(50vh - 8.12vh));
        font-size: 150px;
        line-height: 154px; }
    .first__section .show__nav img {
      height: 80%; }
    .first__section .show__nav .nav__links {
      display: flex;
      justify-content: flex-end;
      width: 15vw; }
      .first__section .show__nav .nav__links a {
        text-decoration: none;
        color: #3b3931;
        font-size: 1rem; }
        .first__section .show__nav .nav__links a:last-child {
          margin-left: 62px; }
        .first__section .show__nav .nav__links a span {
          color: #f43a3a;
          margin-right: 5px; }
  .first__section .reveal.fadeInDown {
    opacity: 0;
    transition: all 1.5s ease-in-out;
    transform: translateY(-120px); }
  .first__section .reveal.fadeInDown.visible {
    transform: translateY(0);
    opacity: 1; }
  .first__section .firstSection__textwrapper {
    padding-top: 3rem;
    padding-left: 8.12vh;
    height: calc(100% - 3rem - 32px - 10.44vh);
    z-index: 20; }
    .first__section .firstSection__textwrapper .pretitle {
      color: #a6a6a6;
      font-size: 1.5rem;
      margin: 0;
      margin-left: 4px;
      font-family: neueMontrealBook;
      text-transform: uppercase; }
    .first__section .firstSection__textwrapper h1 {
      font-size: clamp(40px, 8vw, 80px);
      line-height: 1.1;
      font-family: neueMontrealMedium;
      color: #f43a3a;
      margin: 0;
      text-transform: uppercase; }
    .first__section .firstSection__textwrapper h3 {
      font-size: clamp(40px, 8vw, 80px);
      font-family: neueMontrealMedium;
      margin-top: 10px;
      line-height: 0.9;
      margin-bottom: 0;
      text-transform: uppercase; }
    .first__section .firstSection__textwrapper .hero_desc {
      font-size: 26px;
      line-height: 1.333;
      position: absolute;
      bottom: calc(5.22vh + 90px);
      margin-bottom: 0;
      right: 8.12vh;
      text-align: right;
      text-transform: uppercase; }
      .first__section .firstSection__textwrapper .hero_desc span {
        color: #f43a3a; }
    .first__section .firstSection__textwrapper a {
      text-decoration: none;
      padding: 9px 48px;
      border-radius: 2.222vw;
      font-size: 20px;
      border: 1px solid #f43a3a;
      background: #f43a3a;
      color: white; }
  .first__section .ticker {
    position: absolute;
    bottom: 0%;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    margin: 0; }
  .first__section .ticker-title {
    width: 200vw;
    color: black;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.15;
    text-transform: uppercase; }
    .first__section .ticker-title.loaded {
      width: 220vw;
      padding-left: 0%; }
  .first__section .ticker-title span {
    display: inline-block;
    padding: 25px 0;
    padding-right: 50px;
    border-top: 2px solid black; }

@keyframes loading-animation {
  0% {
    background-size: 200px 0px; }
  100% {
    background-size: 200px 200px; } }

@keyframes aparecer {
  from {
    opacity: 0; }
  to {
    opacity: 1;
    transform: rotate(0deg); } }
