// -----------------------------------------------------------------------------
// This file contains all styles related to the grid component.
// -----------------------------------------------------------------------------

.portfolio__grid{
    &.initial {
        display: none;
    }
}
.portfolio__grid{
    height: 100vh;
    margin: 120px 0;
    background: white;
    position: relative;
    z-index: 2;
}
.grid__row--separate{
    width: 100%;
    height: 12.5vh;
}
.grid__row{
    display: flex;
    &:last-child{
        margin-bottom: 0;
    }
    &.grid__row--first{
        justify-content: space-between;
        h2{
            font-size: 10vw;
            line-height: 80%;
            padding: 10px;
        }
    }
    &.grid__row--center{
        justify-content: space-evenly;
        align-items: flex-end;
    }
    &.grid__row--around {
        justify-content: space-around;
    }
    
    .article{
        padding: 10px;

        // &:first-child{
        //     transform: translateY(-60px);
        // }
        // &:last-child {
        //     transform: translateY(60px);
        // }
        &.article--wide{
        width: 33.333vw;
        height: 25vh;
        }
        &.article--big {
            width: 33.333vw;
            height: 37.5vh;
        }
        &.article--tall {
            width: 16.666vw;
            height: 37.5vh;
        }
        img, video{
            object-fit: cover;
            height: 100%;
            width: 100%;
            filter: grayscale(1);
                &:hover {
                    filter: grayscale(0);
                }
            &.img--nemeson{
                background: #ededed;
            }
        }
        h3{
            margin-top: 10px;
        }
        
    }
}

.portfolio__horizontal{
    height: 100dvh;
    // padding-top: 60px;
    // padding-bottom: 60px;
    left: 0;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    &.initial {
        display: none;
    }
    .horizontal__title{
        font-size: 8vw;
        line-height: 8vw;
        margin-top: 60px;
        padding-left: 10px;
    }
    .grid__wrap--horizontal{
        height: calc(100% - 265px );
        margin-top: 30px; 
        margin-bottom: 60px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        article{
            height: calc(100%);
            margin: 0;
            padding:0 10px;
            aspect-ratio: 0.7/1;
            &:first-child{
                margin-left: 8vw;
            }
            .article_wrap{
                width: 100%;
                height: 100%;
                // transform: scale(0.9);
                // transition: transform 0.1s ease-in-out;
                // &.centered {
                //     transform: scale(1);
                //     img{
                //         &:hover {
                //             filter: grayscale(0);
                //         }
                //     }
                // }
                img {
                    object-fit: cover;
                    height: calc(100% - 23px);
                    width: 100%;
                    filter: grayscale(1);
                    &:hover {
                       filter: grayscale(0);
                     }
                }
                h3 {
                    margin-top: 10px;
                }
            }
        }
    }
}

@media(max-width: 768px) {
    .grid__row {
        &.grid__row--first {
            h2 {
                font-size: 14vw;
                line-height: 14vw;
            }
        }
    }
    .portfolio__horizontal {
        .horizontal__title {
            font-size: 14vw;
            line-height: 14vw;
        }
        .grid__wrap--horizontal {
            height: calc(100% - 30px - 14vw);
        }
    }
}