// -----------------------------------------------------------------------------
// This file contains all styles related to the modal component.
// -----------------------------------------------------------------------------

.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    transform: translateY(100vh);
    transition: transform 0.9s cubic-bezier(0.58, 0.02, 0.21, 0.98);
    overflow-y:scroll;
    z-index: 50;
    &.show{
        display: block;
        &.fadeIn{
            transform: translateY(0px);
        }
                
    }
    a{
        color: white;
    }
    &.ligth{
        background-color: white;
        color: black;
        a{
            color: black;
        }
        .modal__container .modal__col-second .modal__img_wrp a .modal__img#modalImg5 {
            background-color: black;
        }
    }
    .modal__top{
        margin: 0;
        width: 100%;
        padding: 10px 0 0 10px;
        .text__wrap--small{
            justify-content: flex-end;
        }
    }

    .modal__container{
        display: flex;
        margin-top: 30px;
        padding: 10px;
        opacity:0;
        transition: opacity 0.5s cubic-bezier(0.58, 0.02, 0.21, 0.98);
        &.display {
                opacity: 1;
            }
        .modal__col-first{
            width: 33.33%;
        }
        .modal__col-second{
            width: 66.66%;
            .modal__description{
                margin-bottom: 60px;
            }
            .modal__img_wrp{
                a{
                    pointer-events: none;
                    .modal__img{
                        width: 100%;
                        max-height: 60vh;
                        min-height: 60vh;
                        object-fit: cover;
                        
                        &#modalImg5{
                            background-color: #ededed;
                        }
                        &#modalImg8{
                            object-position: 100% 20%;
                        }
                    }
                }
                &.modal__landingImg_wrp {
                    margin-top: 30px;
                    a{
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        .modal__img{
                            max-height: 50vh;
                            min-height: auto;
                            object-fit: contain;
                            object-position: left;
                        }
                        h3{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .modal_footer{
        width: 100%;
        padding: 10px;
        position: relative;
        margin-top: 120px;
        bottom: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .modal_footer-content-left{
            width: 60%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap
        }
        .modal_footer-content-right {
            width: 40%;
            display: flex;
            justify-content: flex-end;
        }
    }
}

@media(min-width: 200px) {

    .modal_footer-content-left {
        width: 100%;
        margin-bottom: 20px
    }

    .modal_footer-left-first {
        margin-right: 0
    }

    .modal_footer-content-right {
        width: 100%
    }

}

@media(min-width: 600px) {

    .modal_footer-content-left {
        width: 80%;
        margin-bottom: 0
    }

    .modal_footer-left-first {
        margin-right: 20px
    }

    .modal_footer-content-right {
        width: 20%
    }

}

@media(min-width: 750px) {

    .modal_footer-content-left {
        width: 70%
    }

    .modal_footer-content-right {
        width: 30%
    }
}

@media(min-width: 1200px) {
    .modal_footer-content-left {
        width: 60%
    }

    .modal_footer-content-right {
        width: 40%
    }
}

@media(min-width: 1620px) {

    .modal_footer-content-left {
        width: 50%
    }

    .modal_footer-content-right {
        width: 50%
    }
}

@media(max-width: 768px) {
.modal{
    min-height: 100dvh;
    overflow-y: scroll;
    .modal__top {
            padding: 10px 10px 0 0;
        }
    .modal__container {
        flex-direction: column;
        .modal__col-first {
            width: 100%;
        }

        .modal__col-second {
            width: 100%;

            .modal__description {
                margin-top: 15px;
                margin-bottom: 30px;
                width: 70%;
            }
            .modal__img_wrp{
                margin: -10px;
                a {    
                    .modal__img {
                        width: 100%;
                        max-height: 50vh;
                        min-height: 50vh;
                    }
                }
                &.modal__landingImg_wrp {
                    margin: auto;
                    margin-top: 20px;
                }
            }
        }
    }
         .modal_footer {
             position: relative;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 120px;
    
             .modal_footer-content-left {
                 width: 100%;
             }
    
             .modal_footer-content-right {
                 width: 100%;
                 justify-content: flex-start;
             }
         }
}
}