// -----------------------------------------------------------------------------
// This file contains all styles related to the modal component.
// -----------------------------------------------------------------------------

.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    transform: translateY(100vh);
    transition: transform 0.5s cubic-bezier(0.58, 0.02, 0.21, 0.98);
    overflow-y:scroll;
    z-index: 50;
    &.show{
        display: block;
        &.fadeIn{
            transform: translateY(0px);
        }
                
    }
    a{
        color: white;
    }
    &.ligth{
        background-color: white;
        color: black;
        a{
            color: black;
        }
        .modal__container .modal__col-second .modal__img_wrp a .modal__img#modalImg5 {
            background-color: black;
        }
    }
}

@media(max-width: 768px) {
.modal{
    min-height: 100dvh;
    overflow-y: scroll;
    .modal__top {
            padding: 10px 10px 0 0;
        }
    .modal__container {
        flex-direction: column;
        .modal__col-first {
            width: 100%;
        }

        .modal__col-second {
            width: 100%;

            .modal__description {
                margin-top: 15px;
                margin-bottom: 30px;
                width: 70%;
            }
            .modal__img_wrp{
                margin: -10px;
                a {    
                    .modal__img {
                        width: 100%;
                        max-height: 50vh;
                        min-height: 50vh;
                    }
                }
                &.modal__landingImg_wrp {
                    margin: auto;
                    margin-top: 20px;
                }
            }
        }
    }
         .modal_footer {
             position: relative;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 120px;
    
             .modal_footer-content-left {
                 width: 100%;
             }
    
             .modal_footer-content-right {
                 width: 100%;
                 justify-content: flex-start;
             }
         }
}
}