// -----------------------------------------------------------------------------
// This file contains all styles related to the section component.
// -----------------------------------------------------------------------------

section{
    &.current__intro{
        width: 100vw;
        height: 200vh;
        &.initial {
            display: none;
        }

        .current__wrap{
            padding: 10px;
            height: 100%;
            .current__wrap--inner{
                display: flex;
                align-items: center;
                p{
                    width: 80vw;
                    margin-left: 8vw;
                    font-size: 3.5vw;
                    line-height: 3.3vw;
                }
            }
        }
    }
}

@media(max-width: 768px) {
    section{
        &.current__intro {
            .current__wrap {
                .current__wrap--inner {        
                    p {
                        margin-left: 0;
                        font-size: 7vw;
                        line-height: 6.5vw;
                    }
                }
            }
        }
    }
}