// -----------------------------------------------------------------------------
// This file contains all styles related to the section component.
// -----------------------------------------------------------------------------

section{
    &.current__intro{
        width: 100vw;
        height: 200vh;
        .current__wrap{
            padding: 10px;
            height: 100%;
            display: flex;
            align-items: center;
            p{
                width: 80vw;
                margin-left: 8vw;
                font-size: 5vw;
                line-height: 4.6vw;
            }
        }
    }
}