// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
#top{
    padding: 10px;
}
.animated {
    animation: font-animation infinite;
    animation-duration: 6s;
    transition-timing-function: ease-in-out
}

// @keyframes font-animation {
//     0% {
//         font-variation-settings: "wght" 500, "HEXP" 10;
//     }

//     2% {
//         font-variation-settings: "wght" 400, "HEXP" 0;    }

//     4% {
//         font-variation-settings: "wght" 400, "HEXP"00;    }

//     6% {
//         font-variation-settings: "wght" 600, "HEXP"20;    }

//     8% {
//         font-variation-settings: "wght" 600, "HEXP"20;    }

//     10% {
//         font-variation-settings: "wght" 500, "HEXP" 10;    }

//     90% {
//     font-variation-settings: "wght" 500, "HEXP" 10;        }

//     92% {
//     font-variation-settings: "wght" 400, "HEXP" 0;        }

//     94% {
//     font-variation-settings: "wght" 600, "HEXP" 20;        }

//     96% {
//     font-variation-settings: "wght" 400, "HEXP" 0;        }

//     98% {
//     font-variation-settings: "wght" 600, "HEXP" 20;        }

//     100% {
//     font-variation-settings: "wght" 500, "HEXP" 10;        }
// }
@keyframes font-animation {
        0% {
            font-variation-settings: "wght" 400, "HEXP" 20;
        }
    
        25% {
            font-variation-settings: "wght" 600, "HEXP" 20;
        }
    
        50% {
            font-variation-settings: "wght" 500, "HEXP" 0;
        }
    
        75% {
            font-variation-settings: "wght" 400, "HEXP" 0;
        }
    
        100% {
            font-variation-settings: "wght" 400, "HEXP" 20;
        }
}

header {
    // margin-bottom: 120px;
    height: calc(100dvh - 20px);
    &.initial{
        color: white !important;
        a{
            color: white !important;
        }
    }
   
    .header-top {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        z-index: 2;
        position: relative;
        .header-top-nav{
            h3{
                display: flex;
                gap: 6px;
                .lang--disabled{
                    opacity: 0.45;
                }
            }
        }
            .colorToggle {
                    width: 12px;
                    height: 12px;
                    display: block;
                    cursor: pointer;
                    border-radius: 12.5px;
                    border: 1px solid white;
                    background-color: transparent;
                    margin-right: 6px;
                    transition: transform 1s cubic-bezier(0.25, 0.1, 0, 0.98);
            
                    &.initial {
                        transform: translate(48vw, 48vh) scale(3) rotate(180deg);
            
                        &.rotate {
                            transform: translate(48vw, 48vh) scale(3) rotate(360deg);
                        }
                    }
            
                    span {
            
                        width: 10px;
                        height: 12px;
                        display: block;
                        border-radius: 12.5px;
                        position: relative;
                        border: 1px solid;
                        border-width: 6px;
                        border-top-color: transparent;
                        border-right-color: white;
                        border-bottom-color: white;
                        border-left-color: transparent;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotate(135deg);
                        transition: all .35s ease-in-out;
                    }
            
                    &.light {
                        border: 1px solid #000;
            
                        span {
                            transform: translate(-50%, -50%) rotate(-45deg);
                            transition: all .35s ease-in-out;
                            border-right-color: #000;
                            border-bottom-color: #000;
                        }
                    }
                }
    }
    .header-main{
        height: calc(100% - 30px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 1;
    }
}

.small-text-wrap {
    display: flex;
    flex-wrap: wrap;
}

.animated-name-wrap {
    margin-bottom: 30px
}

.headerDesc-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    p {
        width: 60%;
    }

}

@media(min-width: 200px) {

    .small-text-wrap {
        margin-bottom: 4px
    }

    .headerDesc-wrap p {
        width: 100%
    }

}

@media(min-width: 600px) {
    .headerDesc-wrap p {
        width: 70%
    }

}

@media(min-width: 750px) {
    .headerDesc-wrap p {
        width: 60%
    }

}

@media(min-width: 900px) {
    .small-text-wrap {
        margin-bottom: 0
    }

    .cursor {
        display: block
    }
}

@media(min-width: 1620px) {
    .headerDesc-wrap{
        p {
            width: 38%
        }
    } 

}

@media(max-width: 768px) {
    .headerDesc-wrap {
        flex-direction: column-reverse;
        align-items: flex-start;
        .headerDesc__text{
            margin-bottom: 30px;
            width: 80%;
        }
        .small-text-wrap{
            align-items: center;
        }
        .colorToggle{
            height: 14px;
            width: 14px;
        }
    }

}