// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
#top{
    padding: 10px;
}


header {
    // margin-bottom: 120px;
    height: calc(100dvh - 20px);
    max-height: calc(100dvh - 20px) !important;
    &.initial{
        color: white !important;
        a{
            color: white !important;
        }
        .lang--disabled{
            color: white !important;
        }
    }
   
    .header__top {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        z-index: 2;
        position: relative;
        .header__top-nav{
            .topnav__p{
                display: flex;
                gap: 6px;
                font-size: 1.3rem;
                    line-height: 1.3rem;
                    font-family: ReadexPro, Arial, Helvetica, sans-serif;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: .05em;
                    margin: 0;
                .lang--disabled{
                    color: #8d8d8d;
                }
            }
        }
            .colorToggle {
                    width: 12px;
                    height: 12px;
                    display: block;
                    cursor: pointer;
                    border-radius: 12.5px;
                    border: 1px solid white;
                    background-color: transparent;
                    margin-right: 6px;
                    transition: transform 0.7s cubic-bezier(0.25, 0.1, 0, 0.98);
            
                    &.initial {
                        transform: translate(48vw, 48vh) scale(3) rotate(180deg);
            
                        &.rotate {
                            transform: translate(48vw, 48vh) scale(3) rotate(360deg);
                        }
                    }
            
                    span {
            
                        width: 10px;
                        height: 12px;
                        display: block;
                        border-radius: 12.5px;
                        position: relative;
                        border: 1px solid;
                        border-width: 6px;
                        border-top-color: transparent;
                        border-right-color: white;
                        border-bottom-color: white;
                        border-left-color: transparent;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotate(135deg);
                        transition: all .35s ease-in-out;
                    }
            
                    &.light {
                        border: 1px solid #000;
            
                        span {
                            transform: translate(-50%, -50%) rotate(-45deg);
                            transition: all .35s ease-in-out;
                            border-right-color: #000;
                            border-bottom-color: #000;
                        }
                    }
                }
    }
    .header__main{
        height: calc(100% - 30px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 1;
    }
}

.text__wrap--small {
    display: flex;
    flex-wrap: wrap;
    .text--bounce{
        font-weight: 600;
        margin-left: 0;
        animation: infinite 4s bounce-7 cubic-bezier(0.280, 0.840, 0.420, 1) ;
        
        @keyframes bounce-7 {
            0% {
                transform: scale(1, 1) translateY(0);
            }
            10% {
                transform: scale(1.1, .9) translateY(0);
            } 
            20% {
                transform: scale(.9, 1.1) translateY(-10px);
            } 
            30% {
                transform: scale(1.05, .95) translateY(0);
            } 
            40% {
                transform: scale(1, 1) translateY(-2px);
            } 
            44% {
                transform: scale(1, 1) translateY(0);
            } 
            100% {
                transform: scale(1, 1) translateY(0);
            }
        }          
    }
}

.header__title--animate {
    margin-bottom: 30px
}

.header__desc-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .header__desc--text {
        width: calc(0.4 * var(--columns-width) + 30px);
    }
        .header__info {
            width: 40%;
        }

}

@media(min-width: 200px) {

    .text__wrap--small {
        margin-bottom: 4px
    }

}


@media(min-width: 900px) {
    .text__wrap--small {
        margin-bottom: 0
    }

    .cursor {
        display: block
    }
}

@media(min-width: 1620px) {
    .header__desc-wrap{
        .header__desc--text {
            width: 38%
        }
    } 

}

@media(max-width: 768px) {
    header {
        opacity: 1 !important;
        transition: opacity 0.6s ease;

        &.initial {
            opacity: 0;
        }
    }
    .animate {
            animation: var-animation 6s ease-out infinite;
        }
    
        @keyframes var-animation {
            0% {
                font-variation-settings: "wght" 400, "HEXP" 10;
            }
    
            25% {
                font-variation-settings: "wght" 700, "HEXP" 50;
            }
    
            50% {
                font-variation-settings: "wght" 400, "HEXP" 20;
            }
    
            75% {
                font-variation-settings: "wght" 550, "HEXP" 30;
            }
    
            100% {
                font-variation-settings: "wght" 400, "HEXP" 10;
            }
        }
    .header__desc-wrap {
        flex-direction: column-reverse;
        align-items: flex-start;
        .header__desc--text{
            margin-bottom: 30px;
            width: 80%;
        }
        .text__wrap--small{
            align-items: center;
            .small__header--regular{
                margin-left: 0;
            }
        }
        .colorToggle{
            height: 14px;
            width: 14px;
        }
    }

}