// -----------------------------------------------------------------------------
// This file contains all styles related to the Layout of the site/application.
// -----------------------------------------------------------------------------

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: ReadexPro, Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}