#cursor{
    position: fixed;
    left: 10px;
    display: block;
    width: 14px;
    height: 14px;
    background-color: #fff;
    mix-blend-mode: difference;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000;
}
.sec_separata{
    height: 50vh;
    &.initial {
        display: none;
    }
}

.container{
    background: white;
    color: black;
    max-width: 100%;
    width: 100%;
    &.initial{
        height: 100dvh;
        overflow: hidden;
        max-height: 100vh;
        header {
            color: white !important;
            a, .lang--disabled {
                color: white !important;
            }
        }
        .project{
            visibility: hidden;
        }
    }
    &.dark{
        background: black;
        color: white;
        .portfolio__grid{
            background: black;
            color: white;
        }
        .portfolio__horizontal{
            background: white;
            color: black;
        }
        a{
            color: white;
        }
        .modal{
            background-color: white;
            color: black;
            a{
                color: black;
            }
            .modal__container .modal__col-second .modal__img_wrp a .modal__img#modalImg5{
                background-color: black;
            }
        }
        
    }
}
@media(max-width:768px){
    #cursor{
        display: none;
    }
}