@charset "UTF-8";
/*
$max-width: 1140px !default;
$max-width-tablet: 960px !default;
$max-width-mobile: 720px !default;
$max-width-small-mobile: 540px !default;
*/
/**
 * in_list — Checks if a value exists in a list
 *
 * @param  $value the needle
 * @param  $list  the haystack
 * @return boolen TRUE if $value is found in the $list, FALSE otherwise.
 */
/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */
/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;
  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;
  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;
  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;
  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;
  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;
  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;
  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  --columns-width: calc(100vw - 140px)
; }

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */
  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66, 140, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;
    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80, 200, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;
    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106, 100, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;
    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47, 223, 117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;
    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255, 213, 52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;
    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255, 73, 97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;
    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e; }
  /*
   * iOS Dark Theme
   * -------------------------------------------
   */
  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0, 0, 0;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;
    --ion-item-background: #000000;
    --ion-card-background: #1c1c1d; }
  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250); }
  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */
  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
    --ion-border-color: #222222;
    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;
    --ion-item-background: #1e1e1e;
    --ion-toolbar-background: #1f1f1f;
    --ion-tab-bar-background: #1f1f1f;
    --ion-card-background: #1e1e1e; } }

*,
*::before,
*::after {
  box-sizing: border-box; }

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0; }

ul[role=list],
ol[role=list] {
  list-style: none; }

html:focus-within {
  scroll-behavior: smooth; }

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto; }

img,
picture {
  max-width: 100%;
  display: block; }

input,
button,
textarea,
select {
  font: inherit; }

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: .01ms !important;
    scroll-behavior: auto !important; } }

html {
  scroll-behavior: smooth !important;
  margin: 0; }

body {
  background: #fff;
  color: #222;
  word-spacing: -.1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0; }

.wrapper {
  margin: 0 auto;
  padding: 10px;
  min-height: 100%; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

html {
  font-size: 62.5%; }

h1 {
  font-size: 18vw;
  line-height: 79%;
  letter-spacing: -.08em;
  font-weight: 400;
  text-transform: uppercase;
  font-family: ReadexPro-variable, Arial, Helvetica, sans-serif;
  font-variation-settings: "wght" 400, "wdth" 50;
  margin: 0;
  cursor: default; }

h2 {
  font-size: 4rem;
  line-height: 4rem;
  font-family: ReadexPro, Arial, Helvetica, sans-serif;
  font-weight: 400;
  letter-spacing: -.02em;
  margin: 0; }

h3 {
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-family: ReadexPro, Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 0; }

.small__header {
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-family: ReadexPro, Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: .05em; }

.small__header--regular {
  font-size: 1.3rem;
  line-height: 1.3rem;
  font-family: ReadexPro, Arial, Helvetica, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin-left: 14px; }

p {
  font-family: ReadexPro, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin: 0; }

a {
  color: #000;
  text-decoration: none;
  margin: 0; }

.link-hover {
  transition: 300ms; }

.link-hover:hover {
  opacity: 45%; }

@media (min-width: 769px) {
  h2 {
    font-size: 5rem;
    line-height: 5rem; }
  h3 {
    font-size: 1.3rem;
    line-height: 1.3rem; }
  .small__header--regular {
    font-size: 1.3rem;
    line-height: 1.3rem; }
  p {
    font-size: 1.8rem;
    line-height: 2.2rem; } }

@media (max-width: 768px) {
  body {
    position: fixed; }
  h1 {
    margin-top: 30px;
    font-size: 21vw; }
  h2 {
    font-size: 3rem;
    line-height: 3rem; }
  h3 {
    font-size: 1.2rem;
    line-height: 1.2rem; }
  .small__header, .small__header--regular {
    font-size: 1.2rem;
    line-height: 1.2rem; }
  p {
    font-size: 1.6rem;
    line-height: 2rem; } }

@font-face {
  font-family: ReadexPro-variable;
  src: url(./fonts/ReadexPro-Variable.ttf) format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: ReadexPro;
  src: url(./fonts/ReadexPro-Regular.ttf) format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal; }

@font-face {
  font-family: ReadexPro;
  src: url(./fonts/ReadexPro-Bold.ttf) format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal; }

/**
 * Basic typography style for copy text
 */
body {
  color: #000000;
  font: normal 0.625em/1.231 "Roboto", "Helvetica", "Arial", sans-serif;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased; }

/**
 * Clear inner floats
 */
.clearfix::after {
  clear: both;
  content: '';
  display: table; }

/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 2. Center it in the viewport
 * 3. Leave some space on the edges, especially valuable on small screens
 */
/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */
.hide-text {
  overflow: hidden;
  padding: 0;
  /* 1 */
  text-indent: 101%;
  white-space: nowrap; }

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  padding: 0;
  font-family: ReadexPro, Arial, Helvetica, sans-serif;
  scroll-behavior: smooth; }

#top {
  padding: 10px; }

header {
  height: calc(100dvh);
  max-height: calc(100dvh) !important; }
  header.initial {
    color: white !important; }
    header.initial a {
      color: white !important; }
    header.initial .lang--disabled {
      color: white !important; }
  header .header__top {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
    position: relative; }
    header .header__top .header__top-nav .topnav__p {
      display: flex;
      gap: 6px;
      font-size: 1.3rem;
      line-height: 1.3rem;
      font-family: ReadexPro, Arial, Helvetica, sans-serif;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .05em;
      margin: 0; }
      header .header__top .header__top-nav .topnav__p .lang--disabled {
        font-weight: 400; }
    header .header__top .colorToggle {
      width: 12px;
      height: 12px;
      display: block;
      cursor: pointer;
      border-radius: 12.5px;
      border: 1px solid white;
      background-color: transparent;
      margin-right: 6px;
      transition: transform 0.7s cubic-bezier(0.25, 0.1, 0, 0.98); }
      header .header__top .colorToggle.initial {
        transform: translate(48vw, 48vh) scale(3) rotate(180deg); }
        header .header__top .colorToggle.initial.rotate {
          transform: translate(48vw, 48vh) scale(3) rotate(360deg); }
      header .header__top .colorToggle span {
        width: 10px;
        height: 12px;
        display: block;
        border-radius: 12.5px;
        position: relative;
        border: 1px solid;
        border-width: 6px;
        border-top-color: transparent;
        border-right-color: white;
        border-bottom-color: white;
        border-left-color: transparent;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(135deg);
        transition: all .35s ease-in-out; }
      header .header__top .colorToggle.light {
        border: 1px solid #000; }
        header .header__top .colorToggle.light span {
          transform: translate(-50%, -50%) rotate(-45deg);
          transition: all .35s ease-in-out;
          border-right-color: #000;
          border-bottom-color: #000; }
  header .header__main {
    height: calc(100% - 43px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1; }

.text__wrap--small {
  display: flex;
  flex-wrap: wrap; }
  .text__wrap--small .text--bounce {
    font-weight: 600;
    margin-left: 0;
    animation: infinite 4s bounce-7 cubic-bezier(0.28, 0.84, 0.42, 1); }

@keyframes bounce-7 {
  0% {
    transform: scale(1, 1) translateY(0); }
  10% {
    transform: scale(1.1, 0.9) translateY(0); }
  20% {
    transform: scale(0.9, 1.1) translateY(-10px); }
  30% {
    transform: scale(1.05, 0.95) translateY(0); }
  40% {
    transform: scale(1, 1) translateY(-2px); }
  44% {
    transform: scale(1, 1) translateY(0); }
  100% {
    transform: scale(1, 1) translateY(0); } }

.header__title--animate {
  margin-bottom: 30px; }

.header__desc-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  .header__desc-wrap .header__desc--text {
    width: calc(0.4 * var(--columns-width) + 30px); }
  .header__desc-wrap .header__info {
    width: 40%; }

@media (min-width: 200px) {
  .text__wrap--small {
    margin-bottom: 4px; } }

@media (min-width: 900px) {
  .text__wrap--small {
    margin-bottom: 0; }
  .cursor {
    display: block; } }

@media (min-width: 1620px) {
  .header__desc-wrap .header__desc--text {
    width: 38%; } }

@media (max-width: 768px) {
  header {
    opacity: 1 !important;
    transition: opacity 0.6s ease; }
    header.initial {
      opacity: 0; }
  .animate {
    animation: var-animation 6s ease-out infinite; }
  @keyframes var-animation {
    0% {
      font-variation-settings: "wght" 400, "HEXP" 10; }
    25% {
      font-variation-settings: "wght" 700, "HEXP" 50; }
    50% {
      font-variation-settings: "wght" 400, "HEXP" 20; }
    75% {
      font-variation-settings: "wght" 550, "HEXP" 30; }
    100% {
      font-variation-settings: "wght" 400, "HEXP" 10; } }
  .header__desc-wrap {
    flex-direction: column-reverse;
    align-items: flex-start; }
    .header__desc-wrap .header__desc--text {
      margin-bottom: 30px;
      width: 80%; }
    .header__desc-wrap .text__wrap--small {
      align-items: center; }
      .header__desc-wrap .text__wrap--small .small__header--regular {
        margin-left: 0; }
    .header__desc-wrap .colorToggle {
      height: 14px;
      width: 14px; } }

footer {
  padding: 10px; }
  footer.initial {
    display: none; }
  footer .footer-content {
    margin-top: 120px; }
    footer .footer-content h2.footer__title {
      font-size: 5vw;
      line-height: 79%;
      letter-spacing: -.08em;
      font-weight: 400;
      text-transform: uppercase;
      font-family: ReadexPro, Arial, Helvetica, sans-serif;
      margin: 0;
      cursor: default; }
    footer .footer-content .footer__text-wrap p {
      font-size: 4rem;
      line-height: 4rem;
      font-family: ReadexPro, Arial, Helvetica, sans-serif;
      font-weight: 400;
      letter-spacing: -.02em;
      margin-top: 30px; }
  footer .footer-end {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    footer .footer-end .footer-left-first {
      margin-right: 20px; }
    footer .footer-end .footer-content-left {
      width: 60%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
    footer .footer-end .footer-content-right {
      width: 40%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end; }

@media (min-width: 200px) {
  .footer-content-left {
    width: 100%;
    margin-bottom: 20px; }
  .footer-left-first {
    margin-right: 0; }
  .footer-content-right {
    width: 100%; } }

@media (min-width: 600px) {
  .footer-content-left {
    width: 80%;
    margin-bottom: 0; }
  .footer-left-first {
    margin-right: 20px; }
  .footer-content-right {
    width: 20%; } }

@media (min-width: 750px) {
  .footer-content-left {
    width: 70%; }
  .footer-content-right {
    width: 30%; } }

@media (min-width: 1200px) {
  .footer-content-left {
    width: 60%; }
  .footer-content-right {
    width: 40%; } }

@media (min-width: 1620px) {
  .footer-content-left {
    width: 50%; }
  .footer-content-right {
    width: 50%; } }

@media (max-width: 768px) {
  footer .footer-content h2.footer__title {
    font-size: 8vw; }
  footer .footer-content .footer__text-wrap p {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: 15px; }
  footer .footer-end .footer-content-left {
    width: 90%;
    flex-direction: column; }
  footer .footer-end .footer-content-right {
    width: 90%;
    justify-content: flex-start; } }

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  transform: translateY(100vh);
  transition: transform 0.5s cubic-bezier(0.58, 0.02, 0.21, 0.98);
  overflow-y: scroll;
  z-index: 50; }
  .modal.show {
    display: block; }
    .modal.show.fadeIn {
      transform: translateY(0px); }
  .modal a {
    color: white; }
  .modal.ligth {
    background-color: white;
    color: black; }
    .modal.ligth a {
      color: black; }
    .modal.ligth .modal__container .modal__col-second .modal__img_wrp a .modal__img#modalImg5 {
      background-color: black; }

@media (max-width: 768px) {
  .modal {
    min-height: 100dvh;
    overflow-y: scroll; }
    .modal .modal__top {
      padding: 10px 10px 0 0; }
    .modal .modal__container {
      flex-direction: column; }
      .modal .modal__container .modal__col-first {
        width: 100%; }
      .modal .modal__container .modal__col-second {
        width: 100%; }
        .modal .modal__container .modal__col-second .modal__description {
          margin-top: 15px;
          margin-bottom: 30px;
          width: 70%; }
        .modal .modal__container .modal__col-second .modal__img_wrp {
          margin: -10px; }
          .modal .modal__container .modal__col-second .modal__img_wrp a .modal__img {
            width: 100%;
            max-height: 50vh;
            min-height: 50vh; }
          .modal .modal__container .modal__col-second .modal__img_wrp.modal__landingImg_wrp {
            margin: auto;
            margin-top: 20px; }
    .modal .modal_footer {
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 120px; }
      .modal .modal_footer .modal_footer-content-left {
        width: 100%; }
      .modal .modal_footer .modal_footer-content-right {
        width: 100%;
        justify-content: flex-start; } }

section.current__intro {
  width: 100vw;
  height: 200vh; }
  section.current__intro.initial {
    display: none; }
  section.current__intro .current__wrap {
    padding: 10px;
    height: 100%; }
    section.current__intro .current__wrap .current__wrap--inner {
      display: flex;
      align-items: center; }
      section.current__intro .current__wrap .current__wrap--inner p {
        width: calc(0.6 * var(--columns-width) + 60px);
        margin-left: calc(0.2 * var(--columns-width) + 30px);
        font-size: 3vw;
        line-height: 2.8vw; }

@media (max-width: 768px) {
  section.current__intro .current__wrap {
    width: calc(100%); }
    section.current__intro .current__wrap .current__wrap--inner {
      width: 100%; }
      section.current__intro .current__wrap .current__wrap--inner p {
        width: 95%;
        margin-left: 0;
        font-size: 8vw;
        line-height: 7.5vw; } }

.portfolio__grid {
  min-height: 10vh;
  height: 100%;
  width: 100%;
  margin: 0;
  background: white;
  position: relative;
  z-index: 2; }
  .portfolio__grid.initial {
    display: none; }
  .portfolio__grid .grid__wrap {
    padding: 10px;
    display: grid;
    position: relative;
    grid-area: 1/1/-1/-1;
    row-gap: 20px;
    column-gap: 15px;
    --sqs-site-gutter: 3vw;
    --sqs-mobile-site-gutter: 6vw;
    --sqs-site-max-width: 1800px;
    --grid-gutter: calc(var(--sqs-site-gutter, 4vw) - 15.0px);
    --cell-max-width: calc((var(--sqs-site-max-width, 1500px) - (15.0px * (24 - 1))) / 24);
    --inset-padding: 0vw;
    --row-height-scaling-factor: 0.0215;
    --container-width: min(var(--sqs-site-max-width, 1500px), calc(100vw - var(--sqs-site-gutter, 4vw) * 2 - var(--inset-padding)));
    grid-template-rows: repeat(67, minmax(calc(var(--container-width) * var(--row-height-scaling-factor)), auto));
    grid-template-columns: minmax(var(--grid-gutter), 1fr) repeat(24, minmax(0, var(--cell-max-width))) minmax(var(--grid-gutter), 1fr); }
    .portfolio__grid .grid__wrap .grid__heading {
      grid-area: 6/1/7/8; }
    .portfolio__grid .grid__wrap .article {
      opacity: 0;
      transform: scale(0.9);
      transition: all 0.6s ease; }
      .portfolio__grid .grid__wrap .article .article__wrap {
        width: 100%;
        height: 100%; }
      .portfolio__grid .grid__wrap .article.display {
        opacity: 1;
        transform: scale(1); }
      .portfolio__grid .grid__wrap .article img, .portfolio__grid .grid__wrap .article video {
        object-fit: cover;
        height: 100%;
        width: 100%;
        filter: grayscale(1); }
        .portfolio__grid .grid__wrap .article img:hover, .portfolio__grid .grid__wrap .article video:hover {
          filter: grayscale(0); }
        .portfolio__grid .grid__wrap .article img.img--nemeson, .portfolio__grid .grid__wrap .article video.img--nemeson {
          background: #ededed; }
      .portfolio__grid .grid__wrap .article h3 {
        margin-top: 10px; }
      .portfolio__grid .grid__wrap .article.article--0 {
        grid-area: 9/1/21/15; }
      .portfolio__grid .grid__wrap .article.article--1 {
        grid-area: 12/18/18/25; }
      .portfolio__grid .grid__wrap .article.article--2 {
        grid-area: 27/4/35/10; }
      .portfolio__grid .grid__wrap .article.article--3 {
        grid-area: 34/15/44/27; }
      .portfolio__grid .grid__wrap .article.article--4 {
        grid-area: 45/5/56/12; }
      .portfolio__grid .grid__wrap .article.article--5 {
        grid-area: 58/16/65/24; }

.portfolio__horizontal {
  height: 100dvh;
  left: 0;
  background: black;
  color: white;
  display: flex;
  flex-direction: column; }
  .portfolio__horizontal.initial {
    display: none; }
  .portfolio__horizontal .horizontal__title {
    font-size: 8vw;
    line-height: 8vw;
    margin-top: 60px;
    padding-left: 10px; }
  .portfolio__horizontal .grid__wrap--horizontal {
    height: calc(100% - 265px);
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center; }
    .portfolio__horizontal .grid__wrap--horizontal article {
      height: calc(100%);
      margin: 0;
      padding: 0 10px;
      aspect-ratio: 0.7/1; }
      .portfolio__horizontal .grid__wrap--horizontal article:first-child {
        margin-left: 8vw; }
      .portfolio__horizontal .grid__wrap--horizontal article .article_wrap {
        width: 100%;
        height: 100%; }
        .portfolio__horizontal .grid__wrap--horizontal article .article_wrap img {
          object-fit: cover;
          height: calc(100% - 23px);
          width: 100%;
          filter: grayscale(1); }
          .portfolio__horizontal .grid__wrap--horizontal article .article_wrap img:hover {
            filter: grayscale(0); }
        .portfolio__horizontal .grid__wrap--horizontal article .article_wrap h3 {
          margin-top: 10px; }

@media (max-width: 768px) {
  .portfolio__grid {
    margin-top: 30px; }
    .portfolio__grid .grid__wrap {
      display: flex;
      flex-direction: column; }
      .portfolio__grid .grid__wrap .article {
        width: 100%;
        aspect-ratio: 1/1;
        margin-bottom: 30px; }
        .portfolio__grid .grid__wrap .article .article__wrap {
          width: 100%;
          height: 100%; }
        .portfolio__grid .grid__wrap .article h3 {
          margin-top: 10px; }
        .portfolio__grid .grid__wrap .article img.centered, .portfolio__grid .grid__wrap .article video.centered {
          filter: grayscale(0);
          -webkit-transform: translateZ(0); }
  .portfolio__horizontal .horizontal__title {
    font-size: 14vw;
    line-height: 14vw; }
  .portfolio__horizontal .grid__wrap--horizontal {
    height: calc(100% - 30px - 14vw); }
    .portfolio__horizontal .grid__wrap--horizontal article .article_wrap img.centered {
      filter: grayscale(0);
      -webkit-transform: translateZ(0); } }

#cursor {
  position: fixed;
  left: 10px;
  display: block;
  width: 14px;
  height: 14px;
  background-color: #fff;
  mix-blend-mode: difference;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000; }

.sec_separata {
  height: 50vh; }
  .sec_separata.initial {
    display: none; }

.container {
  background: white;
  color: black;
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  overscroll-behavior: none; }
  .container.initial {
    height: 100dvh;
    overflow: hidden;
    max-height: 100vh; }
    .container.initial header {
      color: white !important; }
      .container.initial header a, .container.initial header .lang--disabled {
        color: white !important; }
    .container.initial .project {
      visibility: hidden; }
  .container.dark {
    background: black;
    color: white; }
    .container.dark .portfolio__grid {
      background: black;
      color: white; }
    .container.dark .portfolio__horizontal {
      background: white;
      color: black; }
    .container.dark a {
      color: white; }
    .container.dark .modal {
      background-color: white;
      color: black; }
      .container.dark .modal a {
        color: black; }
      .container.dark .modal .modal__container .modal__col-second .modal__img_wrp a .modal__img#modalImg5 {
        background-color: black; }

@media (max-width: 768px) {
  #cursor {
    display: none; } }

.project {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  transform: translateY(100vh);
  transition: transform 0.9s cubic-bezier(0.58, 0.02, 0.21, 0.98);
  overflow-y: scroll;
  z-index: 50; }
  .project.show {
    display: block; }
    .project.show.fadeIn {
      transform: translateY(0px); }
  .project a {
    color: white; }
  .project.ligth {
    background-color: white;
    color: black; }
    .project.ligth a {
      color: black; }
    .project.ligth .project__container .project__col-second .project__img_wrp a .project__img#projectImg5 {
      background-color: black; }
  .project .project__top {
    margin: 0;
    margin-bottom: 90px;
    width: 100%;
    padding: 10px 10px 0 10px; }
    .project .project__top .text__wrap--small {
      justify-content: space-between; }
  .project .project__container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 10px;
    padding-bottom: 0;
    opacity: 0;
    transition: opacity 0.5s cubic-bezier(0.58, 0.02, 0.21, 0.98); }
    .project .project__container.display {
      opacity: 1; }
    .project .project__container .project__row-first {
      width: 100%;
      display: flex;
      margin-bottom: 60px; }
      .project .project__container .project__row-first .project__index {
        width: calc(0.2 * var(--columns-width) + 30px);
        font-size: 32px;
        line-height: 30px; }
      .project .project__container .project__row-first h1.project__title {
        font-weight: 600;
        font-size: 83px;
        line-height: 80px;
        letter-spacing: 1px;
        text-transform: capitalize;
        width: calc(0.6 * var(--columns-width) + 60px); }
    .project .project__container .project__row-second {
      display: flex;
      margin-bottom: 90px; }
      .project .project__container .project__row-second .project__tags {
        width: calc(0.2 * var(--columns-width));
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
        color: #c1c1c1; }
      .project .project__container .project__row-second .project__info {
        width: calc(0.2 * var(--columns-width));
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left; }
      .project .project__container .project__row-second .project__description, .project .project__container .project__row-second .project__description1 {
        width: calc(0.2 * var(--columns-width));
        margin-right: 30px; }
    .project .project__container .project__row-third {
      width: 100%;
      margin-bottom: 90px; }
      .project .project__container .project__row-third .project__img {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 1/0.7; }
        .project .project__container .project__row-third .project__img#projectImg5 {
          background-color: #ededed; }
        .project .project__container .project__row-third .project__img#projectImg8 {
          object-position: 100% 20%; }
    .project .project__container .project__row-fourth {
      width: 100%;
      display: flex;
      margin-bottom: 90px; }
      .project .project__container .project__row-fourth .smallimages__wrap {
        width: calc(0.4 * var(--columns-width) + 30px);
        margin-right: 30px;
        display: flex; }
        .project .project__container .project__row-fourth .smallimages__wrap .small__img {
          width: calc(50% - 15px);
          object-fit: cover;
          aspect-ratio: 1/1; }
          .project .project__container .project__row-fourth .smallimages__wrap .small__img:first-child {
            margin-right: 30px; }
      .project .project__container .project__row-fourth .project__img {
        width: calc(0.4 * var(--columns-width) + 30px);
        margin-left: calc(0.2 * var(--columns-width) + 30px);
        object-fit: cover;
        aspect-ratio: 1/1; }
        .project .project__container .project__row-fourth .project__img#projectImg5 {
          background-color: #ededed; }
        .project .project__container .project__row-fourth .project__img#projectImg8 {
          object-position: 100% 20%; }
    .project .project__container .project__row-fifth {
      width: 100%;
      display: flex; }
      .project .project__container .project__row-fifth .project__img {
        width: calc(0.4 * var(--columns-width) + 30px);
        margin-right: calc(0.2 * var(--columns-width) + 30px);
        object-fit: cover;
        aspect-ratio: 1/1; }
        .project .project__container .project__row-fifth .project__img#projectImg5 {
          background-color: #ededed; }
        .project .project__container .project__row-fifth .project__img#projectImg8 {
          object-position: 100% 20%; }
      .project .project__container .project__row-fifth .project__description2 {
        width: calc(0.2 * var(--columns-width));
        margin-left: 30px; }
  .project .project__row-sixth {
    width: 100%;
    display: flex;
    margin-top: 90px; }
    .project .project__row-sixth .smallimages__wrap {
      width: calc(0.4 * var(--columns-width) + 30px);
      margin-right: 30px;
      display: flex; }
      .project .project__row-sixth .smallimages__wrap .small__img {
        width: calc(50% - 15px);
        object-fit: cover;
        aspect-ratio: 1/1; }
        .project .project__row-sixth .smallimages__wrap .small__img:first-child {
          margin-right: 30px; }
    .project .project__row-sixth .project__img {
      width: calc(0.4 * var(--columns-width) + 30px);
      margin-left: calc(0.2 * var(--columns-width) + 30px);
      object-fit: cover;
      aspect-ratio: 1/1; }
      .project .project__row-sixth .project__img#projectImg5 {
        background-color: #ededed; }
      .project .project__row-sixth .project__img#projectImg8 {
        object-position: 100% 20%; }
  .project .project_footer {
    width: 100%;
    padding: 10px;
    padding-top: 0;
    position: relative;
    margin-top: 120px;
    bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    .project .project_footer .project_footer-content-left {
      width: 60%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
    .project .project_footer .project_footer-content-right {
      width: 40%;
      display: flex;
      justify-content: flex-end; }

@media (min-width: 200px) {
  .project_footer-content-left {
    width: 100%;
    margin-bottom: 20px; }
  .project_footer-left-first {
    margin-right: 0; }
    .project_footer-left-first article {
      display: flex; }
  .project_footer-content-right {
    width: 100%; } }

@media (min-width: 600px) {
  .project_footer-content-left {
    width: 80%;
    margin-bottom: 0; }
  .project_footer-left-first {
    margin-right: 20px; }
  .project_footer-content-right {
    width: 20%; } }

@media (min-width: 750px) {
  .project_footer-content-left {
    width: 70%; }
  .project_footer-content-right {
    width: 30%; } }

@media (min-width: 1200px) {
  .project_footer-content-left {
    width: 60%; }
  .project_footer-content-right {
    width: 40%; } }

@media (min-width: 1620px) {
  .project_footer-content-left {
    width: 50%; }
  .project_footer-content-right {
    width: 50%; } }

@media (max-width: 768px) {
  .project {
    min-height: 100dvh;
    overflow-y: scroll; }
    .project .project__top {
      padding: 10px 10px 0 10px;
      margin-bottom: 45px; }
    .project .project__container {
      flex-direction: column; }
      .project .project__container .project__row-first {
        flex-direction: column;
        margin-bottom: 30px; }
        .project .project__container .project__row-first .project__index {
          width: 100%; }
        .project .project__container .project__row-first h1.project__title {
          width: 100%;
          margin-top: 15px;
          font-size: 66px;
          line-height: 60px; }
          .project .project__container .project__row-first h1.project__title.project__title-mobile {
            font-size: 60px;
            line-height: 56px; }
      .project .project__container .project__row-second {
        flex-wrap: wrap;
        margin-bottom: 30px; }
        .project .project__container .project__row-second .project__tags {
          width: calc(0.3 * var(--columns-width));
          align-items: flex-start;
          margin-bottom: 15px;
          color: #8c8c8c; }
        .project .project__container .project__row-second .project__info {
          width: fit-content;
          margin-right: 30px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          text-align: left; }
        .project .project__container .project__row-second .project__description, .project .project__container .project__row-second .project__description1 {
          width: 100%;
          margin-right: 30px; }
          .project .project__container .project__row-second .project__description:nth-child(3), .project .project__container .project__row-second .project__description1:nth-child(3) {
            margin-bottom: 20px; }
      .project .project__container .project__row-third {
        width: 100%;
        margin-bottom: 15px; }
        .project .project__container .project__row-third .project__img {
          width: 100%;
          object-fit: cover; }
          .project .project__container .project__row-third .project__img#projectImg5 {
            background-color: #ededed; }
          .project .project__container .project__row-third .project__img#projectImg8 {
            object-position: 100% 20%; }
      .project .project__container .project__row-fourth {
        flex-wrap: wrap;
        margin-bottom: 30px; }
        .project .project__container .project__row-fourth .smallimages__wrap {
          width: 100%;
          margin-right: 0;
          margin-bottom: 15px; }
          .project .project__container .project__row-fourth .smallimages__wrap .small__img {
            width: calc(50% - 15px);
            object-fit: cover;
            aspect-ratio: 1/1; }
            .project .project__container .project__row-fourth .smallimages__wrap .small__img:first-child {
              margin-right: 30px; }
        .project .project__container .project__row-fourth .project__img {
          width: 100%;
          margin-left: 0;
          object-fit: cover; }
          .project .project__container .project__row-fourth .project__img#projectImg5 {
            background-color: #ededed; }
          .project .project__container .project__row-fourth .project__img#projectImg8 {
            object-position: 100% 20%; }
      .project .project__container .project__row-fifth {
        flex-direction: column-reverse; }
        .project .project__container .project__row-fifth .project__img {
          width: 100%;
          margin-right: 0;
          object-fit: cover; }
          .project .project__container .project__row-fifth .project__img#projectImg5 {
            background-color: #ededed; }
          .project .project__container .project__row-fifth .project__img#projectImg8 {
            object-position: 100% 20%; }
        .project .project__container .project__row-fifth .project__description2 {
          width: 100%;
          margin-left: 0;
          margin-bottom: 15px; }
      .project .project__container .project__row-sixth {
        flex-wrap: wrap;
        margin-bottom: 30px; }
        .project .project__container .project__row-sixth .smallimages__wrap {
          width: 100%;
          margin-right: 0;
          margin-bottom: 15px; }
          .project .project__container .project__row-sixth .smallimages__wrap .small__img {
            width: calc(50% - 15px);
            object-fit: cover;
            aspect-ratio: 1/1; }
            .project .project__container .project__row-sixth .smallimages__wrap .small__img:first-child {
              margin-right: 30px; }
        .project .project__container .project__row-sixth .project__img {
          width: 100%;
          margin-left: 0;
          object-fit: cover; }
          .project .project__container .project__row-sixth .project__img#projectImg5 {
            background-color: #ededed; }
          .project .project__container .project__row-sixth .project__img#projectImg8 {
            object-position: 100% 20%; }
    .project .project_footer {
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 120px; }
      .project .project_footer .project_footer-content-left {
        width: 100%; }
      .project .project_footer .project_footer-content-right {
        width: 100%;
        justify-content: flex-start; } }
