// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

//NEUE MONTREAL

@font-face {
    font-family: ReadexPro-variable;
    src: url(./fonts/ReadexPro-Variable.ttf) format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal
}

@font-face {
    font-family: ReadexPro;
    src: url(./fonts/ReadexPro-Regular.ttf) format("truetype");
    font-weight: 400;
    font-display: swap;
    font-style: normal
}

@font-face {
    font-family: ReadexPro;
    src: url(./fonts/ReadexPro-Bold.ttf) format("truetype");
    font-weight: 700;
    font-display: swap;
    font-style: normal
}
