// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

//NEUE MONTREAL

@font-face {
    font-family: RadioCanada-variable;
    src: url(./fonts/RadioCanada-Variable.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: RadioCanada;
    src: url(./fonts/RadioCanada-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: RadioCanada;
    src: url(./fonts/RadioCanada-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: RadioCanada-variable;
    src: url(./fonts/ReadexPro-Variable.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: RadioCanada;
    src: url(./fonts/ReadexPro-Regular.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: RadioCanada;
    src: url(./fonts/ReadexPro-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}
